:root{
    --backgroundPrimary:white;
    --backgroundSecondary:white;
    --primaryColor:grey;
    --secondaryColor:black;
}

@font-face {
    font-family: centuryGothic;
    src: url(centurygothic.ttf);
  }

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

html{
    height: 100%;
}

body{
    font-family: centuryGothic;
    background-color: var(--backgroundPrimary);
    color: var(--secondaryColor);
    height: 95%;
    display: flex;
    gap: 50px;
}

#navBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navBarBottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#title{
    text-align: center;
}

.right{
    flex-grow: 1;
}

ul{
    list-style-type: none;
}

#clothesContainer{
    display: flex;
    gap: 10px;
}

.cloth{
    background-color: var(--primaryColor);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    gap: 10px;
}

.cloth img{
    width: 100%;
}